
/* MAIN.LESS */

body { font-family: Helvetica, sans-serif; }
.main { margin:60px auto; }
.row { margin:30px auto; }
.header { margin-bottom:60px; }

/* Typography */
h1, h2 { font-family: 'Oswald', sans-serif; }
h2, h3 { margin-top:0; }
